<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles/hero-area.css">
    <title>Hero Area</title>
</head>
<body>
    <div class="slider">
        <div class="slider-container">
            <h1>Sou Desenvolvedor Web</h1>
            <p>Adoro desenvolver Web sites e para o fazer precisso de chá</p>
        </div>
    </div>
</body>
</html>