<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles/hero-area.css">
    <title>Hero Area</title>
</head>
<body>
    <div class="slider">
        <video muted autoplay loop>
            <source src="../../videos/anim.mp4" type="video/mp4" />
        </video>
        <div class="slider-container">
            <h1>Sou Desenvolvedor Web</h1>
            <p class="desc">Adoro desenvolver Web sites e para o fazer precisso de chá</p>
            <div class="cta">
                Contacte-me
            </div>
        </div>
    </div>
</body>
</html>