* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgb(16, 136, 0);
}

.bola-container {
    position: relative;
    height: 128px;
}

.bola {
    width: 125px;
    height: 128px;
    position: absolute;
    left: 0;
    top: 0;

    transition: left 3s linear,top 2s linear 3s;

    /* transition-property: left;
    transition-duration: 3s;
    transition-timing-function: linear;
    transition-delay: 2s; */
}

.bola img {
    width: 100%;
    height: 100%; 
}

.bola-container:hover .bola {
    left: 500px;
    top: 500px;
}